.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
}
li {
  list-style: none;
}
.check {
  margin-right: 10px;
  cursor: pointer;
}
.close {
  margin-left: 10px;
  color: red;
  font-size: 2vmin;
  cursor: pointer;
}
input:checked + span {
  text-decoration: line-through;
}
